<!DOCTYPE html>
{% extends "blog/base.html" %}
{% block content %}
<div class="centerstage">


    {% for post in post_list %}
    <div class="postcontent">

        <h1><a style="text-decoration:none;" href="{% url 'post_detail' pk=post.pk %}">{{ post.title|title}}</a></h1>
        <p>{{ post.text|safe}}</p>
        <div class="date">
            <p>Published on: {{post.published_date|date:"d-m-y"}}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}


</div>
{% endblock %}
